<section class="contact-cta bg-[#696969] text-white py-8 text-center rounded-lg shadow-lg">
    <div class="container mx-auto px-4">
        <h2 class="text-2xl font-[Mountain] mb-4">Get Started in Roraima</h2>
        <p class="mb-6 text-lg">Rocky and remote advice awaits for mountain climbers!</p>
        <a href="https://formspree.io/f/mgeqjznn" class="bg-[#FFD700] px-6 py-3 rounded-lg text-white hover:opacity-90 inline-block" rel="noopener noreferrer" target="_blank" title="Contact Now">Contact Now</a>
    </div>
</section>